tensorflow==2.17.1       # Compatible con Python >=3.8.
tensorflow-hub==0.14.0   # Modelos preentrenados.
tensorflow-addons==0.21.0  # Funciones avanzadas para TensorFlow.
opencv-python==4.8.1.78  # Última versión estable.
opencv-python-headless==4.8.1.78  # Si no hay entorno gráfico.
numpy==1.25.2            # Compatible con Python >=3.8.
Pillow==10.1.0           # Última versión estable.
imageio==2.31.0          # Manejo de imágenes.
albumentations==1.3.1    # Aumentos de datos en imágenes.
matplotlib==3.8.0        # Compatible con Python >=3.8.
scikit-learn==1.3.1      # Compatible con Python >=3.8.
loguru==0.7.1            # Logging mejorado.
pytest==7.4.2            # Pruebas automatizadas.
onnxruntime==1.16.0      # Optimización de modelos.
pycuda==2023.1           # Aceleración con GPU.
